body{

    background:black;
    padding:500px;
    margin:20px;
}



#theButeayOFgitHub{
    font-size: 40px;
    text-decoration: dotted;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width:400px;
    background-color: burlywood;

}
.p1{
    color: blueviolet;
    background-color: red;
    width: 400px;
}
.p2{
    color: red;
    background-color: blanchedalmond;
    width: 400px;
}
